In [63]:
import pandas as pd
import numpy as np
from scipy.stats import shapiro
import scipy.stats as stats

In [42]:
df=pd.read_csv("/content/Blood Pressure.csv")
df

    Patient ID   Blood Pressure Before (mmHg)   Blood Pressure After (mmHg)
0            1                            130                           120
1            2                            142                           135
2            3                            120                           118
3            4                            135                           127
4            5                            148                           140
..         ...                            ...                           ...
95          96                            136                           129
96          97                            143                           137
97          98                            127                           123
98          99                            139                           135
99         100                            135                           130

[100 rows x 3 columns]

In [43]:
df.columns

Index(['Patient ID', ' Blood Pressure Before (mmHg)',
       ' Blood Pressure After (mmHg)'],
      dtype='object')

In [44]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100 entries, 0 to 99
Data columns (total 3 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   Patient ID                     100 non-null    int64
 1    Blood Pressure Before (mmHg)  100 non-null    int64
 2    Blood Pressure After (mmHg)   100 non-null    int64
dtypes: int64(3)
memory usage: 2.5 KB

In [45]:
df.duplicated().sum()

0

In [46]:

df.isnull().sum()

Patient ID                       0
 Blood Pressure Before (mmHg)    0
 Blood Pressure After (mmHg)     0
dtype: int64

In [47]:

# Blood pressure values before taking the drug
before_values = ['Blood Pressure Before (mmHg)']  # Replace [...] with your actual data
before_values

['Blood Pressure Before (mmHg)']

In [57]:
# Blood pressure values after taking the drug
after_values = ['Blood Pressure After (mmHg)']  # Replace [...] with your actual data
after_values

['Blood Pressure After (mmHg)']

In [59]:
before = np.array([before_values])  # Replace ... with actual data
after = np.array([after_values])  # Replace ... with actual data
differences = after - before

UFuncTypeError: ignored

In [64]:
_, p_value = stats.shapiro(differences)
alpha = 0.05  # Significance level

if p_value > alpha:
    print("The data follows a normal distribution.")
else:
    print("The data does not follow a normal distribution.")

NameError: ignored