In [17]:
import pandas as pd
import scipy.stats as stats
from scipy.stats import f_oneway

In [16]:
df=pd.read_csv("/content/Test score.csv")
df

      Name  Exam 1  Exam 2  Final Exam
0    Karan      85      90          92
1    Deepa      70      80          85
2  Karthik      90      85          88
3  Chandan      75      70          75
4   Jeevan      95      92          96

In [18]:
# Perform the one-way ANOVA test
statistic, p_value = f_oneway(df['Exam 1'], df['Exam 2'], df['Final Exam'])

In [19]:
# Check if the mean scores are the same
if p_value >= 0.05:
    print("The mean scores of all the students are the same.")
else:
    # Find the student with the highest score
    highest_score_student = df.loc[df['Final Exam'].idxmax(), 'Name']
    print("The mean scores of all the students are not the same.")
    print(f"The student with the highest score is {highest_score_student}.")

The mean scores of all the students are the same.