In [37]:
import pandas as pd

In [25]:
df=pd.read_csv("/content/Blood_Preesure.csv")
df

    Patient ID   Blood Pressure Before (mmHg)   Blood Pressure After (mmHg)
0            1                            130                           120
1            2                            142                           135
2            3                            120                           118
3            4                            135                           127
4            5                            148                           140
..         ...                            ...                           ...
95          96                            136                           129
96          97                            143                           137
97          98                            127                           123
98          99                            139                           135
99         100                            135                           130

[100 rows x 3 columns]

In [29]:
# Calculate the frequency of each class
class_counts = df['Patient ID'].value_counts()

# Check if all class counts are the same
same_distribution = all(class_counts == class_counts.iloc[0])

if same_distribution:
    print("The distribution of all classes is the same.")
else:
    print("The distribution of classes is not the same.")

The distribution of all classes is the same.

In [30]:
# Perform Levene's test for equality of variances
statistic, p_value = levene(*df.values.T)

alpha = 0.05  # significance level

if p_value > alpha:
    print("The variances of all groups are equal.")
else:
    print("The variances of groups are not equal.")

The variances of groups are not equal.

###Below code block is a sample implementation and is not relevant with the dataset above

In [33]:
import pandas as pd
from sklearn.discriminant_analysis import LinearDiscriminantAnalysis, QuadraticDiscriminantAnalysis
from sklearn.model_selection import cross_val_score
from sklearn.metrics import accuracy_score

# Create a sample DataFrame with features and target variable
data = {
    'Feature1': [1, 2, 3, 4, 5, 6, 7, 8, 9, 10],
    'Feature2': [2, 4, 6, 8, 10, 12, 14, 16, 18, 20],
    'Target': [0, 0, 0, 0, 0, 1, 1, 1, 1, 1]
}
df = pd.DataFrame(data)

# Separate features and target variable
X = df[['Feature1', 'Feature2']]
y = df['Target']

# Initialize LDA and QDA classifiers
lda = LinearDiscriminantAnalysis()
qda = QuadraticDiscriminantAnalysis()

# Perform cross-validation and evaluate accuracy
lda_scores = cross_val_score(lda, X, y, cv=5, scoring='accuracy')
qda_scores = cross_val_score(qda, X, y, cv=5, scoring='accuracy')

# Calculate mean accuracy for LDA and QDA
lda_mean_accuracy = lda_scores.mean()
qda_mean_accuracy = qda_scores.mean()

if lda_mean_accuracy > qda_mean_accuracy:
    print("LDA performs better on this data for classification.")
elif lda_mean_accuracy < qda_mean_accuracy:
    print("QDA performs better on this data for classification.")
else:
    print("LDA and QDA perform equally on this data for classification.")

LDA performs better on this data for classification.

/usr/local/lib/python3.10/dist-packages/sklearn/discriminant_analysis.py:926: UserWarning: Variables are collinear
  warnings.warn("Variables are collinear")
/usr/local/lib/python3.10/dist-packages/sklearn/discriminant_analysis.py:951: RuntimeWarning: divide by zero encountered in power
  X2 = np.dot(Xm, R * (S ** (-0.5)))
/usr/local/lib/python3.10/dist-packages/sklearn/discriminant_analysis.py:954: RuntimeWarning: divide by zero encountered in log
  u = np.asarray([np.sum(np.log(s)) for s in self.scalings_])
/usr/local/lib/python3.10/dist-packages/sklearn/discriminant_analysis.py:926: UserWarning: Variables are collinear
  warnings.warn("Variables are collinear")
/usr/local/lib/python3.10/dist-packages/sklearn/discriminant_analysis.py:951: RuntimeWarning: divide by zero encountered in power
  X2 = np.dot(Xm, R * (S ** (-0.5)))
/usr/local/lib/python3.10/dist-packages/sklearn/discriminant_analysis.py:954: RuntimeWarning: divide by zero encountered in log
  u = np.asarray([np.sum(np.log(s)) for s in self.scalings_])
/usr/local/lib/python3.10/dist-packages/sklearn/discriminant_analysis.py:926: UserWarning: Variables are collinear
  warnings.warn("Variables are collinear")
/usr/local/lib/python3.10/dist-packages/sklearn/discriminant_analysis.py:926: UserWarning: Variables are collinear
  warnings.warn("Variables are collinear")
/usr/local/lib/python3.10/dist-packages/sklearn/discriminant_analysis.py:926: UserWarning: Variables are collinear
  warnings.warn("Variables are collinear")
/usr/local/lib/python3.10/dist-packages/sklearn/discriminant_analysis.py:951: RuntimeWarning: divide by zero encountered in power
  X2 = np.dot(Xm, R * (S ** (-0.5)))
/usr/local/lib/python3.10/dist-packages/sklearn/discriminant_analysis.py:954: RuntimeWarning: divide by zero encountered in log
  u = np.asarray([np.sum(np.log(s)) for s in self.scalings_])


Below code block is a sample implementation and is not relevant with the dataset above
---

In [38]:
import pandas as pd
from scipy.stats import f_oneway

# Create a sample DataFrame with a column containing class labels and a numerical column for comparison
data = {'Class': ['A', 'A', 'B', 'B', 'C', 'C'],
        'Values': [10, 15, 20, 25, 30, 35]}
df = pd.DataFrame(data)

# Perform ANOVA test to check the equality of means between all classes
class_groups = [df['Values'][df['Class'] == cls] for cls in df['Class'].unique()]
statistic, p_value = f_oneway(*class_groups)

alpha = 0.05  # significance level

if p_value > alpha:
    print("The means of all classes are equal.")
else:
    print("The means of classes are not equal.")

The means of classes are not equal.