In [7]:
import pandas as pd
import scipy.stats as stats

In [3]:
df=pd.read_csv("/content/Therapy.csv")
df

   Participant  Before therapy  After therapy  Difference
0            1              10              7          -3
1            2               8              6          -2
2            3              12             10          -2
3            4              15             12          -3
4            5               6              5          -1
5            6               9              8          -1
6            7              11              9          -2
7            8               7              6          -1
8            9              14             12          -2
9           10              10              8          -2

In [11]:
difference=df['SubtractionResult'] = df['After therapy'] - df['Before therapy']
difference

0   -3
1   -2
2   -2
3   -3
4   -1
5   -1
6   -2
7   -1
8   -2
9   -2
dtype: int64

In [12]:
statistic, p_value = stats.wilcoxon(difference)

In [13]:
# Output the results
print("Wilcoxon signed-rank test:")
print(f"Statistic: {statistic}")
print(f"P-value: {p_value}")

Wilcoxon signed-rank test:
Statistic: 0.0
P-value: 0.001953125